doctype
html(lang='en')
  head
    title Yes we can
    link(href="./css/main.css", rel="stylesheet")
    
  body
    .container
      h1 Otherwise my bra, how you
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eius provident natus! Natus atque nulla, omnis quae.

    script(src="./js/functions.js")
    